<section class='log-in-section'>
  <h2>Welcome to Blogify!</h2>
  <h3>Resend confirmation instructions</h3>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "input-field" %>
    </div>

    <div class="actions btn-sign-row">
      <%= f.submit "Resend confirmation instructions", class: "btn-sign-submit btn-primary" %>
    </div>
  <% end %>

  <div class = 'footer-links'>
    <%= render "devise/shared/links" %>
  </div>
</section>